<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <style>
        @font-face {
            font-family: ComicSans;
            src: url('{{url_for("static", filename="ComicSans.ttf")}}');
        }
    </style>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
</head>
<body>
    <nav>
        <a href="/list" class="upload-btn">Images</a>
        <a href="/upload" class="upload-btn">Upload</a>
    </nav>
    <main>
        <div>
            <ol>
                {% if images|length == 0 %}
                    <b>Upload an image to see it here.</b>
                {% else %}
                    {% for image in images %}
                    <li>
                        <a href="http://localhost:6969/images/{{image}}">http://localhost:6969/images/{{image}}</a>
                        <a href="http://localhost:6969/delete/{{image}}" style="color: red;">delete</a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ol>
        </div>
    </main>
</body>
</html>