<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <style>
        @font-face {
            font-family: ComicSans;
            src: url('{{url_for("static", filename="ComicSans.ttf")}}');
        }
    </style>
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="upload.css")}}'>
</head>
<body>
    <nav>
        <a href="/list">Images</a>
        <a href="/upload">Upload</a>
    </nav>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% if error %}
                <p class="error">{{error}}</p>
            {% endif %}
            <div class="file-input-container">
                <label for="url">Image URL:</label>
                <input type="text" name="url" id="url">
                <b>OR</b>
                <input type="file" name="file" id="file">
                <br>
            </div>
            <button type="submit" class="upload-btn">Upload</button>
        </form>
    </main>
</body>
</html>